@model IEnumerable<NttmLesson09.Models.NttmMonHoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "NttmCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NttmTenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NttmSoTiet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NttmTenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NttmSoTiet)
        </td>
        <td>
            @Html.ActionLink("Edit", "NttmEdit", new { id=item.NttmMaMH.Trim() }) |
            @Html.ActionLink("Details", "NttmDetails", new { id=item.NttmMaMH.Trim() }) |
            @Html.ActionLink("Delete", "NttmDelete", new { id=item.NttmMaMH.Trim() })
        </td>
    </tr>
}

</table>
