@model IEnumerable<NttmK22CNT4Lesson11_2210900041.Models.NttmCategory>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Nttm2210900041Layout.cshtml";
}

<h2>Danh mục sản phẩm</h2>

<p>
@*    @Html.ActionLink("Create New", "Create")
*@</p>
<a href="/NttmCategories/Create" class="btn btn-primary my-3">Thêm mới</a>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NttmID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NttmCateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NttmStatus)
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NttmID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NttmCateName)
        </td>
        <td>
@*            @Html.DisplayFor(modelItem => item.NttmStatus)
*@
            @if (item.NttmStatus == true)
            {
                <span style="color: green">Hoạt động</span>
            }
            else
            {
                <span style="color: red">Không Hoạt động</span>

                }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NttmID }) |
            @Html.ActionLink("Details", "Details", new { id = item.NttmID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NttmID })
        </td>
    </tr>
}

</table>
