@model NguyenThiTraMi_2210900041.Models.NTTM_SACH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_NttmLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NTTM_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nttm_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nttm_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nttm_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nttm_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nttm_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nttm_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nttm_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nttm_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTTM_TACGIA.Nttm_TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTTM_TACGIA.Nttm_TenTacGia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger my-3" /> |
            @Html.ActionLink("Back to List", "NttmIndex")
        </div>
    }
</div>
